<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Contactar</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="/assets/img/favicon.png" rel="icon">
        <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
        <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="/assets/css/style.css" rel="stylesheet">

        <!-- =======================================================
      * Template Name: Company - v2.2.1
      * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      ======================================================== -->
    </head>

    <body>

        <div th:replace="fragmentos/menuPrincipal :: menuPrincipal"></div> 

        <main id="main">

            <!-- ======= Breadcrumbs ======= -->
            <section id="breadcrumbs" class="breadcrumbs">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Usuários</h2>
                        <ol>
                            <li><a href="/">Início</a></li>
                            <li>Usuários</li>
                        </ol>
                    </div>

                </div>
            </section>
            <!-- End Breadcrumbs -->

            <section id="contact" class="contact">
                <div class="container">
                    <div class="section-title" data-aos="fade-up">
                        <h2><strong>Lista de Usuários</strong></h2>
                        <p>Esta tela lhe permite adicionar outras certificações.
                            Adicione todas as informações necessário para dar melhor visibilidade no seu perfil profissional.</p>
                    </div></p>
                    </div>
                    <div class="row mt-5 justify-content-center" data-aos="fade-up">
                        <div class="col-lg-10">
                            <div class="text-center"><a href="/usuarios/cadastroUsuarios">Adicionar</a></div>
                            <div class="table-responsive">
                                <table class="content-table" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Nome Usuário</th>
                                            <th>Grupo</th>
                                            <th>Opções</th>
                                        </tr>
                                    </thead>
                                    <tr th:each="usuario : ${listaDeUsuarios}">
                                        <td th:text="${usuario.nome}+' '+${usuario.sobrenome}"></td>
                                        <td><span th:each="grupo : ${usuario.grupos}" th:text="${grupo.nome}"></span></td>
   
                                    <td>
                                        <a th:href="@{/usuarios/editarUsuario/}+${usuario.codigo}" th:if="${#authentication.principal.usuario.codigo==usuario.codigo}"  style="padding-right: 10px;">
                                            <i class="fas"><img src="/img/edit.png" alt="Editar" width="20px" height="20px"></i>
                                        </a>
                                        <a href="@{/usuarios/eliminarUsuario/}+${usuario.codigo}" th:if="${#authentication.principal.usuario.codigo!=usuario.codigo}">
                                            <i class="fas"><img src="/img/delet.png" alt="Apagar" width="20px" height="20px"></i>
                                        </a>

                                    </td>
                                    </tr>
                                    <tr th:if="${#lists.isEmpty(listaDeUsuarios)}">
                                        <td colspan="7">Nenhum valor encontrado</td>
                                    </tr>                   
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
            <!-- End Contact Section -->

        </main>
        <!-- End #main -->

        <!-- ======= Footer ======= -->
        <div th:replace="fragmentos/footer :: footer"></div> 

        <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

        <!-- Vendor JS Files -->
        <script src="/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <!--script src="/assets/vendor/php-email-form/validate.js"></script-->
        <script src="/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
        <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="/assets/vendor/venobox/venobox.min.js"></script>
        <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
        <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
        <script src="/assets/vendor/aos/aos.js"></script>

        <!-- Template Main JS File -->
        <script src="/assets/js/main.js"></script>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/vendors.min.js}"></script>
        <script th:src="@{/js/jquery.mask.js}"></script>
        <script th:src="@{/js/main.js}"></script> 

    </body>

</html>
