<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>Monografias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
        <link rel="stylesheet" href="/css/dashboard.css"/>
        <link rel="stylesheet" href="/css/formsStyle.css"/>

    </head>

    <body>
        <div th:replace="fragmentos/menuPrincipal :: menuPrincipal"></div> 
        <main>
            <div class="container"> 
                <th:block th:include="fragmentos/MessagensDeAlertas"></th:block>
                <div sec:authorize-url="/listarUsuarios">
                    <div th:each="usua : ${listaDeUsuarios}">
                        <form enctype="multipart/form-data" >

                            <div class="card-header">
                                <img th:src="@{/mostrarImagemUsuario/{imagem}(imagem=${usua.nomeImagen})}" width="135" height="135" style="border-radius: 50%;"/>
                                <a th:href="@{/editarPerfil/}+${usua.codigo}" style="background: #fff; color: #039609;">
                                    Editar
                                </a> 
                            </div>
                            <span th:each="grupo : ${usua.grupos}" th:text="|${grupo.nome}${grupoStat.last? '' :' , '}|" style="text-transform: uppercase; font-size: 1.1rem; color: #0F7EB4;"></span>
                            <div class="user-details">
                                <div class="input-box">
                                    <span class="details">Nome Usuário</span>
                                    <p class="input"  th:text="${usua.nome}+' '+${usua.sobrenome}" style="font-size: 1.2rem; font-weight: 500; text-align: center; text-transform: uppercase;"></p>
                                </div>
                                <div class="input-box">
                                    <span class="details">Telefone</span>
                                    <p class="input" th:text="${usua.telefone}" style="font-size: 1.2rem; font-weight: 500; text-align: center;"></p>
                                </div>
                                <div class="input-box">
                                    <span class="details">E-mail</span>
                                    <p class="input" th:text="${usua.email}" style="font-size: 1.2rem; font-weight: 500; text-align: center;"></p>
                                </div>
                                <div class="input-box">
                                    <span class="details">Data Nascimento</span>
                                    <p class="input" th:text="${usua.dataNascimento}" style="font-size: 1.2rem; font-weight: 500; text-align: center;"></p>
                                </div>
                                <div class="input-box">
                                    <span class="details">Género</span>
                                    <p class="input" th:text="${usua.genero}" style="font-size: 1.2rem; font-weight: 500; text-align: center;"></p>
                                </div>
                                <div class="input-box">
                                    <span class="details">Estado</span>
                                    <p class="input" th:text="${usua.estadoFormato}" style="font-size: 1.2rem; font-weight: 500; text-align: center; color: #06AC15; text-transform: uppercase;"></p>
                                </div>
                            </div>                                       
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/vendors.min.js}"></script>
        <script th:src="@{/js/jquery.mask.js}"></script>
        <script th:src="@{/js/main.js}"></script>
    </body>
</body>

</html>