<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Texte</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
    </head>
    <body>  
        <br style="margin-top: 20px;">       
        <div class="container">           
            <div class="container align-content-around">
                <a type="button"  class="btn btn-outline-primary" href="/matriculaAluno" style="font-size: 18px; text-decoration: none;">Efectuar Matrícula</a>
            </div>
            <br>
            <h2 th:each="turma : ${turmas}">Detalhes da Turma</h2>
            <div class="form-group col-md-6">
                <h3>Turma: <span th:text="${turma.nome}" style="font-size: 25px; color: #1d2124; font-family: 'Impact';"></span></h3>
                <h3>Curso: <span th:text="${turma.curso.nome}" style="font-size: 25px; color: #1d2124; font-family: 'Impact';"></span></h3>
            </div>
            <h3 style="text-align: center; font-family: 'Impact'; font-size: 30px; color: #057D09; text-transform: uppercase;">Estudantes Matriculados</h3> 
            <br style="margin-top: 20px;">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <th scope="col">Nome </th>
                <th scope="col">E-mail</th>
                <th scope="col">Situação</th>
                <th scope="col">Acção</th>
                </thead>
                <tbody>
                    <tr scope="row" th:each="matricula : ${matriculas}">
                        <td th:text="${matricula.aluno.nome}+ ' '+ ${matricula.aluno.sobrenome}"></td>
                        <td th:text="${matricula.aluno.email}"></td>         
                        <td th:text="${matricula.situacao}"></td>             

                    </tr>
                </tbody>

            </table>

        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
    </body>
</html>
