<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>ISPI Payment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css}" />
        <link rel="stylesheet" th:href="@{css/formularios.css}" href="css/formularios.css"/>
        <link rel="stylesheet" th:href="@{css/dashboard.css}" href="css/dashboard.css" />
        <link rel="stylesheet" type="text/css" href="css/sweetAlert.min.css"/>

    </head>

    <body>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}"/>
        <div th:replace="fragmentos/menuPrincipal :: menuPrincipal"></div> 
        <div class="container">
            <div class="title">Registo de Matrículas</div>
            <div class="button-link list" sec:authorize-url="/listarTurmas">
                <a href="/listarTurmas">Listar Dados</a>

            </div>
            <!--MESSAGENS-->
            <th:block th:include="fragmentos/MessagensDeAlertas"></th:block>
            <form method="POST" th:object="${matricula}"  th:action="@{/matriculaAluno}">
                <div class="recent-grid">
                    <div class="projects">
                        <div class="card">
                            <div class="user-details">
                                <div class="input-box">                       
                                    <span class="details">B.I</span>
                                    <input type="text" id="bi"  name="bi" placeholder="Ex: 999999999AA999"/>

                                </div>
                                <div  style="margin-left: 50%; margin-top: -11%;">
                                    <button  id="button" class="btn-source"  type="button">Verificar</button>
                                </div>
                                <div class="input-box">
                                    <span class="details">Nome</span>
                                    <input type="text"  id="nome" disabled="true" style="background-color: #fff; color: #434343;">
                                </div>
                                <div class="input-box">
                                    <span class="details">Telefone</span>
                                    <input type="text"  id="telefone" disabled="true" style="background-color: #fff; color: #434343;">
                                </div>
                                <div class="input-box">
                                    <span class="details">E-mail</span>
                                    <input type="text"  id="email" disabled="true" style="background-color: #fff; color: #434343;">
                                </div>
                                <div class="input-box">
                                    <span class="details">Data de Nascimento</span>
                                    <input type="text"  id="dataNascimento" disabled="true" style="background-color: #fff; color: #434343;">
                                </div>
                                <div class="input-box">
                                    <span class="details">Género</span>
                                    <input type="text"  id="genero" disabled="true" style="background-color: #fff; color: #434343;">
                                </div>
                                <div class="input-box">
                                    <span class="details">Nº Registo Militars</span>
                                    <input type="text"  id="crm" disabled="true" style="background-color: #fff; color: #434343;">
                                </div>
                                <div class="input-box">
                                    <span class="details">Nº Estudante</span>
                                    <input type="text" id="numEstudante" th:field="*{numeroEstudante}"> 
                                    <span class="error-filds" th:if="${#fields.hasErrors('numeroEstudante')}" 
                                          th:errors="*{numeroEstudante}">
                                    </span>
                                    <div class="" style="margin-top: 32px;">
                                        <button type="button" style="border-radius: 28px; border: 0;  color: #fff; background-color: #028a38; cursor: pointer; padding: 1rem;" onclick="GerarNumeroEstudante();" class="">Gerar</button>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <span class="details">Ano Académico</span>
                                    <input type="number" id="anoAcademico"  th:field="*{anoAcademico}" placeholder="Ex: 2020">
                                    <span class="error-filds" th:if="${#fields.hasErrors('anoAcademico')}" 
                                          th:errors="*{anoAcademico}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Períudo</span>
                                    <select id="periodo" th:field="*{periodo}">
                                        <option value="">Selecione o períudo</option>
                                        <option th:each="periodo : ${T(com.ispi.projectoIspi.Enum.Periodo).values()}"
                                                th:value="${periodo}" th:text="${periodo}"></option>
                                    </select>
                                    <span class="error-filds" th:if="${#fields.hasErrors('periodo')}" 
                                          th:errors="*{periodo}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Turma</span>
                                    <select id="turmaEdit" th:field="*{turma}">
                                        <option value="">Selecione uma Turma</option>
                                        <option th:each="turma : ${turmas}" th:value="${turma.codigo}" th:text="${turma.nome} +' ' +${turma.curso.nome}"></option>
                                    </select>
                                    <span class="error-filds" th:if="${#fields.hasErrors('turma')}" 
                                          th:errors="*{turma}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Ano Curricular</span>
                                    <select id="anoCurricular" th:field="*{anoCurricular}">
                                        <option value="">Selecione o ano Curricular</option>
                                        <option th:each="anoCurricular : ${T(com.ispi.projectoIspi.Enum.AnoCurricular).values()}"
                                                th:value="${anoCurricular}" th:text="${anoCurricular}"></option>
                                    </select>
                                    <span class="error-filds" th:if="${#fields.hasErrors('anoCurricular')}" 
                                          th:errors="*{anoCurricular}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Situação</span>
                                    <select id="situacao" th:field="*{situacao}">
                                        <option value="">Selecione a situação</option>
                                        <option th:each="situacao : ${T(com.ispi.projectoIspi.Enum.SituacaoMatricula).values()}"
                                                th:value="${situacao}" th:text="${situacao}"></option>
                                    </select>
                                    <span class="error-filds" th:if="${#fields.hasErrors('situacao')}" 
                                          th:errors="*{situacao}">
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>                                                    
                </div>
                <div class="button">
                    <button type="submit" class="btn">Salvar</button>

                </div>                            
            </form>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/vendors.min.js"></script>
        <script type="text/javascript" src="js/main.js" th:src="@{js/main.js}"></script> 
    </body>

</html>