<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>ISPI-PAYMENTS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{css/vendors.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{css/ispi.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{css/application.css}"/>
    </head>
    <body>
        <header th:fragment="menuLateral">
            <div class="">

                <nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <a class="navbar-brand  hidden-xs" href="#">
                                ISPI-PAYMENTS                                
                            </a>

                            <ul class="nav  navbar-nav">
                                <li>
                                    <a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
                                </li>
                            </ul>
                        </div>

                        <ul class="nav navbar-nav  navbar-right">

                            <li>
                                <a href="#" class="js-search-modal-trigger-show"><i class="fa  fa-search"></i></a>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                    <i class="fa  fa-envelope"></i> <span class="label  label-danger  aw-label-corner">48</span>
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;">Item 1</a></li>
                                    <li><a href="javascript:;">Item 2</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa  fa-user"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="aw-logged-user">
                                            <img src="https://api.adorable.io/avatars/80/joaodascouves" 
                                                 width="80" height="80" alt="Pedro Mulenga" class="aw-logged-user__picture" />
                                            <p sec:authentication="principal.usuario.nomeUsuario">Username</p>
                                        </div>                            
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Meu perfil</a></li>
                                    <li><a href="#">Editar Perfil</a></li>

                                </ul>
                            </li>

                            <li>
                                <a th:href="@{/logout}"><em class="fa  fa-sign-out"></em></a>
                            </li> 
                        </ul>

                    </div>
                </nav>

                <aside class="aw-layout-sidebar  js-sidebar">
                    <div class="aw-layout-sidebar__content">

                        <nav class="aw-menu  js-menu">
                            <ul class="aw-menu__list">

                                <li class="aw-menu__item">
                                    <a href="/principal"><i class="fa  fa-fw  fa-home fa-2x"></i><span>Dashboard</span></a>
                                </li>

                                <li class="aw-menu__item">
                                    <a href="#">
                                        <i class="fa  fa-fw  fa-bell fa-2x"></i><span>Actividades</span>

                                    </a>
                                </li>
                                <li class="aw-menu__item">
                                    <a href="#">
                                        <i class="fa  fa-fw  fa-database fa-2x"></i><span>Secretaria</span>
                                        <i class="aw-menu__navigation-icon  fa"></i>
                                    </a>

                                    <ul class="aw-menu__list  aw-menu__list--sublist">
                                        <li class="aw-menu__item  aw-menu__item--link"><a href="/listarTurmas">Cadastrar Turmas</a></li>
                                        <li class="aw-menu__item  aw-menu__item--link"><a href="/listarCursos">Cadastrar Cursos</a></li>
                                        <li class="aw-menu__item  aw-menu__item--link"><a href="/listarAlunos">Cadastrar Alunos</a></li>
                                        <li class="aw-menu__item  aw-menu__item--link"><a href="/listarFuncionarios">Cadastrar Funcionário</a></li>
                                        <li class="aw-menu__item  aw-menu__item--link"><a href="/matriculaAluno">Efectuar Matrículas</a></li>
                                        <li class="aw-menu__item  aw-menu__item--link"><a href="/pagamentoAluno">Emolumentos</a></li>
                                    </ul>
                                </li>

                                <li class="aw-menu__item">
                                    <a href="#">
                                        <i class="fa  fa-fw  fa-comment fa-2x"></i><span>Consultar</span>
                                        <i class="aw-menu__navigation-icon  fa"></i>
                                    </a>
                                    <ul class="aw-menu__list  aw-menu__list--sublist">
                                        <li class="aw-menu__item  aw-menu__item--link"><a href="/listarTurmas">Notas</a></li>
                                        <li class="aw-menu__item  aw-menu__item--link"><a href="/listarCursos">Pagamentos de Propinas</a></li>
                                        <li class="aw-menu__item  aw-menu__item--link"><a href="/listarPagamentoTransporte">Pagamentos de Transportes</a></li>
                                        <li class="aw-menu__item  aw-menu__item--link"><a href="/listarBairros">Outros Pagamentos</a></li>
                                    </ul>
                                </li>
                                <li class="aw-menu__item">
                                    <a href="#">
                                        <i class="fa  fa-fw  fa-file-text fa-2x"></i><span>Avaliações</span>
                                        <i class="aw-menu__navigation-icon  fa"></i>
                                    </a>
                                    <ul class="aw-menu__list  aw-menu__list--sublist">
                                        <li class="aw-menu__item  aw-menu__item--link"><a href="/listarTurmas">Inserir Notas de Avaliações</a></li>
                                    </ul>
                                </li>
                                <li class="aw-menu__item">
                                    <a href="#">
                                        <i class="fa  fa-fw  fa-arrow-circle-down fa-2x"></i><span>Outros</span>
                                        <i class="aw-menu__navigation-icon  fa"></i>
                                    </a>
                                    <ul class="aw-menu__list  aw-menu__list--sublist">
                                        <li class="aw-menu__item  aw-menu__item--link"><a href="/listarProvincias">Províncias</a></li>
                                        <li class="aw-menu__item  aw-menu__item--link"><a href="/listarMunicipios">Municípios</a></li>
                                        <li class="aw-menu__item  aw-menu__item--link"><a href="/listarBairros">Bairros</a></li>
                                    </ul>
                                </li>

                                <li class="aw-menu__item">
                                    <a href="/gruposTrabalho">
                                        <i class="fa  fa-fw  fa-th-large fa-2x" ></i><span>Transportes</span>

                                    </a>
                                </li>


                            </ul>
                        </nav>

                    </div>
                </aside>

            </div>
        </header>
        <div class="aw-layout-page">
            <footer class="aw-layout-footer  js-content" th:fragment="footer">
                <div class="container-fluid">
                    <span class="aw-footer-disclaimer">&copy; 2021 ISPI. Todos os direitos reservados.</span>
                </div>
            </footer>
        </div>
        <script th:src="@{js/vendors.min.js}"></script>
        <script th:src="@{js/ispi.min.js}"></script>
    </body>
</html>
