<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
     <link rel="stylesheet" href="https://kit.fontawesome.com/a076d056399.js" />

    <div class="modal-principal">
        <input type="checkbox" id="click">
        <label for="click" class="click-me">Click Aqui</label>
        <div class="content-modal">
            <div class="header-modal">
                <h4>Deseja Eliminar o Registo</h4>
                <label for="click" class="fas fa-times"></label>
            </div>
            <label for="click" class="fas fa-check"></label>
            <p class="text">Pedroskdjksjdskhksdjksjskdjn jsdskdskjdskd jsdjsdjsdjsdjs jsdjsdnsjdnjsndjsdnsjn nsdbsjdbsjdbj</p>
            <div class="line"></div>
            <label for="click" class="close-btn">Close</label>
        </div>

    </div>
</html>