<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    </head>
    <body>

        <div class="container">
            <h2> Lista de Usuários</h2> 
            <hr>
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col">Acção</th>
                </thead>
                <tbody>
                    <tr scope="row" th:each="usuarios : ${listaUsuarios}">
                        <td th:text="${usuarios.nome}"></td>
                        <td th:text="${usuarios.email}"></td>
                        <td th:text="${usuarios.telefone}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="@{editar/{id}(id=${usuarios.id})}">
                                <i class="fas fa-edit"></i>Editar</a>
                            <a class="btn btn-danger" th:href="@{eliminar/{id}(id=${usuarios.id})}" >
                                <i class="fas fa-times"  ></i>Eliminar</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="container">
            <button type="button"  class="btn btn-info"><a href="/cadastroUsuario" style="font-size: 18px; color: #fff; text-decoration: none;">Novo Registo</a></button>
        </div>
        <script src="/webjars/jquery/3.5.1/jquery.min.js"/>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"/>
    </body>
</html>
