<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <h2>Cadastro de Usuários</h2>
            <button type="button"  class="btn btn-info"><a href="/cadastroUsuario" style="font-size: 18px; color: #fff; text-decoration: none;">Novo Registo</a></button>
            <form method="post" action="/cadastroUsuario" th:object="${usuario}" autocomplete="off">
                <div class="row">
                    <div class="col-md-6 form-group offset-md-3">
                        <label>Nome:</label>
                        <input class="form-control" th:field="*{nome}" value="" name="nome" type="text" placeholder="Digite seu nome" required="true"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group offset-md-3">
                        <label>E-mail:</label>
                        <input class="form-control" th:field="*{email}" value="" name="email" type="email" placeholder="Digite seu email" required="true"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group offset-md-3">
                        <label>Telefone:</label>
                        <input class="form-control" value="" th:field="*{telefone}" name="telefone" type="text" placeholder="999999999" required="true">
                    </div>
                    <div class="col-md-3 form-group">
                        <label>Senha:</label>
                        <input class="form-control" value="" th:field="*{senha}" name="senha" type="password" placeholder="********" required="true">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group offset-md-3">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>

            </form>
        </div>
        <div class="container">
            <button type="button"  class="btn btn-warning"><a href="/listarUsuario" style="font-size: 18px; color: #fff; text-decoration: none;">Listar Usuários</a></button>
        </div>
        <script src="js/jquery-3.5.1.min"/>
        <script src="js/bootstrap.min.js"/>
    </body>
</html>
