<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>ISPI Payment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css}" />
        <link rel="stylesheet" th:href="@{css/formularios.css}" href="css/formularios.css"/>
        <link rel="stylesheet" th:href="@{css/dashboard.css}" href="css/dashboard.css" />
        <link rel="stylesheet" href="css/bootstrap-switch.min.css" th:href="@{css/bootstrap-switch.min.css}"/>

    </head>

    <body>
        <div th:replace="fragmentos/menuPrincipal :: menuPrincipal"></div> 
        <div class="container">
            <div class="title">Cadastro de Funcionários</div>
            <div class="button-link list" sec:authorize-url="/listarFuncionarios">
                <a href="/listarFuncionarios">Listar Dados</a>
            </div>
            <!--MESSAGENS-->
            <th:block th:include="fragmentos/MessagensDeAlertas"></th:block>
            <form method="POST" th:object="${funcionario}"  th:action="@{/cadastrarFuncionarios}">
                <div class="recent-grid">
                    <div class="projects">
                        <div class="card">
                            <div class="user-details">
                                <div class="input-box">
                                    <span class="details">Nome</span>
                                    <input type="text" th:field="*{nome}" placeholder="Digite seu Nome">
                                    <span class="error-filds" th:if="${#fields.hasErrors('nome')}" 
                                          th:errors="*{nome}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Sobrenome</span>
                                    <input type="text" th:field="*{sobrenome}" placeholder="Digite o sobrenome">
                                    <span class="error-filds" th:if="${#fields.hasErrors('sobrenome')}" 
                                          th:errors="*{sobrenome}">
                                    </span>
                                </div>           
                                <div class="input-box">
                                    <span class="details">B.I</span>
                                    <input type="text" th:field="*{bi}" placeholder="Digite o B.I">
                                    <span class="error-filds" th:if="${#fields.hasErrors('bi')}" 
                                          th:errors="*{bi}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Naturalidade</span>
                                    <select th:field="*{provincia}">
                                        <option value="">Selecione uma província</option>
                                        <option th:each="provincia : ${provincias}" th:value="${provincia.codigo}" th:text="${provincia.nome}"></option>
                                    </select>
                                    <span class="error-filds" th:if="${#fields.hasErrors('provincia')}" 
                                          th:errors="*{provincia}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Municipio</span>
                                    <select th:field="*{municipio}">
                                        <option value="">Selecione uma província</option>
                                        <option th:each="municipio : ${municipios}"  th:value="${municipio.codigo}" th:text="${municipio.nome}"></option>
                                    </select>
                                    <span class="error-filds" th:if="${#fields.hasErrors('municipio')}" 
                                          th:errors="*{municipio}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Data de Nascimento</span>
                                    <input type="date" th:field="*{dataNascimento}" placeholder="Digite a Data de nascimento">
                                    <span class="error-filds" th:if="${#fields.hasErrors('dataNascimento')}" 
                                          th:errors="*{dataNascimento}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Nome do Pai</span>
                                    <input type="text" th:field="*{nomePai}" placeholder="Digite o nome do Pai">
                                    <span class="error-filds" th:if="${#fields.hasErrors('nomePai')}" 
                                          th:errors="*{nomePai}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Nome da Mãe</span>
                                    <input type="text" th:field="*{nomeMae}" placeholder="Digite o nome da Mãe">
                                    <span class="error-filds" th:if="${#fields.hasErrors('nomeMae')}" 
                                          th:errors="*{nomeMae}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">E-mail</span>
                                    <i class="fas fa-envelope"></i>
                                    <input type="email" th:field="*{email}" placeholder="Digite o E-mail">
                                    <span class="error-filds" th:if="${#fields.hasErrors('email')}" 
                                          th:errors="*{email}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Telefone</span>
                                    <input type="text" th:field="*{telefone}" placeholder="Digite o Telefone">
                                    <span class="error-filds" th:if="${#fields.hasErrors('telefone')}" 
                                          th:errors="*{telefone}">
                                    </span>
                                </div>


                                <div class="input-box">
                                    <span class="details">Morada</span>
                                    <select id="bairro" th:field="*{bairro}">
                                        <option value="">Selecione uma morada</option>
                                        <option th:each="bairro : ${bairros}"  th:value="${bairro.codigo}" th:text="${bairro.nome}"></option>
                                    </select>
                                    <span class="error-filds" th:if="${#fields.hasErrors('bairro')}" 
                                          th:errors="*{bairro}">
                                    </span>
                                </div>                 

                                <div class="input-box">
                                    <span class="details">Nº Regist Militar</span>
                                    <input type="text" th:field="*{numCRM}" placeholder="Digite o Nº Registo Militar">
                                </div>

                                <div class="input-box">
                                    <span class="details">Tipo Funcionário</span>
                                    <select id="tipoFuncionario"  required="true" th:field="*{tipoFuncionario}">
                                        <option value="">Selecione o tipo Funcionário</option>
                                        <option th:each="tipoFunc : ${T(com.ispi.projectoIspi.Enum.TipoFuncionario).values()}"
                                                th:value="${tipoFunc}" th:text="${tipoFunc}"></option>
                                    </select>
                                    <span class="error-filds" th:if="${#fields.hasErrors('tipoFuncionario')}" 
                                          th:errors="*{tipoFuncionario}">
                                    </span>
                                </div>
                                <div class="input-box">
                                    <span class="details">Estado</span>
                                    <input class="js-status" type="checkbox" data-off-color="danger" data-on-color="success"
                                           data-on-text="Activo" data-off-text="Inactivo">                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gender-details">
                    <span class="gender-title">Género</span>
                    <div style="display: flex; margin: 16px 0; justify-content: space-between;">                  
                        <th:block th:each="genero : ${T(com.ispi.projectoIspi.Enum.Genero).values()}">
                            <div class="category">
                                <input th:id="|id_${genero}|" type="radio" th:value="${genero}" name="genero">
                                <label  for="|id_${genero}|" th:text="${genero}"></label>
                            </div>

                        </th:block>
                        <span class="error-filds" style="color: red;" th:if="${#fields.hasErrors('genero')}" 
                              th:errors="*{genero}">
                        </span>
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="btn">Salvar</button>

                </div>
            </form>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap-switch.min.js" th:src="@{js/bootstrap-switch.min.js}" ></script>
        <script>
            $('.js-status').bootstrapSwitch();
        </script>
        <script src="js/vendors.min.js"></script>
        <script type="text/javascript" src="js/main.js" th:src="@{js/main.js}"></script> 
    </body>

</html>