<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>ISPI Payment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
        <link rel="stylesheet" href="https://kit.fontawesome.com/a076d056399.js" />
        <link rel="stylesheet" th:href="@{/css/formularios.css}" href="/css/formularios.css"/>
        <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="/css/dashboard.css" />

    </head>

    <body>
        <div th:replace="fragmentos/menuPrincipal :: menuPrincipal"></div> 
        <div class="container">
            <div class="title">Lista de Emolumentos</div>
            <div class="button-link" sec:authorize-url="/pagamentoAluno">
                <a href="/pagamentoAluno" >Novo Pagamento</a>
            </div>
            <!--MESSAGENS-->
            <th:block th:include="fragmentos/MessagensDeAlertas"></th:block>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="content-table" width="100%">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Mês Referente</th>
                                <th>Tipo Emolumento</th>
                                <th>Situação</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="emolumento : ${listaPagamentosAlunos}">
                                <td th:text="${emolumento.matricula.aluno.nome} +' ' + ${emolumento.matricula.aluno.sobrenome}"></td>
                                <td th:text="${emolumento.mesReferente}"></td>
                                <td th:text="${emolumento.tipoEmolumento}"></td>
                                <td th:text="${emolumento.situacao}"></td>
                                <td>
                                    <a class="click-me" th:href="@{/editarPagamentoAluno/}+${emolumento.codigo}">
                                        <i class="fas fa-edit"><img src="/img/edit.png" alt="Edit" width="20px" height="20px"></i>Editar</a>
                                    <label for="click" class="click-me"><img src="/img/delet.png" alt="Delit" width="20px" height="20px">Eliminar</label>
                                </td>
                        <div class="modal-principal">
                            <input type="checkbox" id="click">
                            <div class="content-modal">
                                <div class="header-modal">
                                    <h4>Deseja Eliminar o Registo</h4>
                                    <label for="click" class="fas fa-times"></label>
                                </div>
                                <label for="click" class="fas fa-check"></label>
                                <p class="text">Não Poderás recoperar o dado após a eliminação!</p>
                                <div class="line"></div>
                                <a  class="true-btn"  th:href="@{/eliminarPagamentoAluno/(codigo=${emolumento.codigo})}">
                                    <i class="fas fa-times"></i>Sim, Eliminar</a>
                                <label for="click" class="close-btn">Não, Cancelar</label>
                            </div>

                        </div>

                        </tr> 
                        <tr th:if="${#lists.isEmpty(listaPagamentosAlunos)}">
                            <td colspan="7">Nenhum valor por apresentar</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--div class="pagination">
                        <div>
                            <span>Total de Registo: [[${totalDeItens}]] - Pagina [[${paginaCorrente}]] de [[${totalDePaginas}]]</span>
                        </div>
                        <ul>
                            <a th:if="${paginaCorrente > 1}" th:href="@{/listarAlunos/1}">First</a>
                            <a th:unless="${paginaCorrente > 1}">First</a>
                            <li class="btnPaginatio prev">
                                <a th:if="${paginaCorrente > 1}" th:href="@{'/listarAlunos/' + ${paginaCorrente - 1}}"><i class="fas fa-angle-left">Prev</i></a>
                                <a th:unless="${paginaCorrente > 1}">Prev</a>
                            </li>
                            <th:block th:each="i: ${#numbers.sequence(1, totalDePaginas)}">                  
                                <li class="numb">
                                    <a th:if="${i != paginaCorrente}" th:href="@{'/listarAlunos/' + ${i}}">[[${i}]]</a>  
                                    <span class="active" th:unless="${i != paginaCorrente}">[[${i}]]</span>  
                                </li>
                            </th:block>
                            <li class="btnPaginatio next">
                                <a th:if="${paginaCorrente < totalDePaginas}" th:href="@{'/listarAlunos/' + ${paginaCorrente + 1}}"><i class="fas fa-angle-right">Next</i></a>
                                <a th:unless="${paginaCorrente < totalDePaginas}">Next</a>
                            </li>
                            <a th:if="${paginaCorrente < totalDePaginas}" th:href="@{'/listarAlunos/' + ${totalDePaginas}}">Last</a>
                            <a th:unless="${paginaCorrente < totalDePaginas}">Last</a>
                        </ul>
                    </div-->

                </div>
            </div>           
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/vendors.min.js"></script>
        <script type="text/javascript" src="js/main.js" th:src="@{js/main.js}"></script>
    </body>

</html>
