<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>ISPI Payment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css}" />
        <link rel="stylesheet" th:href="@{css/formularios.css}" href="css/formularios.css"/>
        <link rel="stylesheet" th:href="@{css/dashboard.css}" href="css/dashboard.css" />
        <link rel="stylesheet" href="css/bootstrap-switch.min.css" th:href="@{css/bootstrap-switch.min.css}"/>

    </head>

    <body>
        <div th:replace="fragmentos/menuPrincipal :: menuPrincipal"></div> 
        <div class="container">
            <div class="title">Cadastro de Cursos</div>
            <div class="button-link list" sec:authorize-url="/listarCursos">
                <a href="/listarCursos">Listar Dados</a>
            </div>
            <!--MESSAGENS-->
            <th:block th:include="fragmentos/MessagensDeAlertas"></th:block>
            <form method="POST" th:object="${cursos}"  th:action="@{/cadastrarCursos}">

                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nome</span>
                        <input type="text" th:field="*{nome}" placeholder="Digite o nome">
                        <span class="error-filds" th:if="${#fields.hasErrors('nome')}" 
                              th:errors="*{nome}">
                        </span>
                    </div>
                    <div class="input-box">
                        <span class="details">Estado</span>
                        <input class="js-status" type="checkbox" data-off-color="danger" data-on-color="success"
                               data-on-text="Activo" data-off-text="Inactivo">                                   
                    </div>
                    <div class="button">
                        <button type="submit" class="btn">Salvar</button>
                    </div>
                </div>

            </form>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap-switch.min.js" th:src="@{js/bootstrap-switch.min.js}" ></script>
        <script>
            $('.js-status').bootstrapSwitch();
        </script>
        <script src="js/vendors.min.js"></script>
        <script type="text/javascript" src="js/main.js" th:src="@{js/main.js}"></script> 
    </body>

</html>