<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">       
        <link rel="stylesheet" href="/css/dashboard.css" />
        <title>Qualificado</title>
    </head>

    <body>
        <main>
            <div class="dashboard-container">
                <div class="card details">
                    <div class="details-header">
                        <h2 style="font-size: 3rem; text-align: center; align-content: center; align-items: center; margin: 10px 5px 3px 10px;">ERRO<span style="font-size: 5rem; font-weight: 700; padding: 10px; color: #8390A2;">500</span></h2>                   
                    </div> 
                    <h3>FALHA NO SERVIDOR</h3>
                </div>
            </div>
        </main>
    </body>

</html>