<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="stylesheet" href="/css/dashboard.css" />
        <title>Ispi Repositor Tese</title>
    </head>

    <body>
        <div th:replace="fragmentos/menuPrincipal :: menuPrincipal"></div> 
        <main>
            <div class="dashboard-container">
                <div class="card total1">
                    <div class="info">
                        <div class="info-detail">
                            <h3>Monografias</h3>
                            <p>Teses Publicadas</p>
                            <h2>[[${totalMonografias}]] <span></span>Teses</h2>
                        </div>
                        <div class="info-image">
                            <i class="fas fa-money-check-alt"></i>
                        </div>

                    </div>
                </div>
                <div class="card total2">
                    <div class="info">
                        <div class="info-detail">
                            <h3>Áreas</h3>
                            <p>Cursos Publicados</p>
                            <h2>[[${totalCursos}]] <span></span>Cursos</h2>
                        </div>
                        <div class="info-image">
                            <i class="fas fa-boxes"></i>
                        </div>

                    </div>
                </div>
                <div class="card total3">
                    <div class="info">
                        <div class="info-detail">
                            <h3>Usuários</h3>
                            <p>Total Usuários</p>
                            <h2>[[${totalUsuarios}]] <span></span>Activos</h2>
                        </div>
                        <div class="info-image">
                            <i class="fas fa-user-friends"></i>
                        </div>

                    </div>
                </div>
                <div class="card total4">
                    <div class="info">
                        <div class="info-detail">
                            <h3>Categorias</h3>
                            <p>Categorias Disponíveis</p>
                            <h2>[[${totalCategorias}]] <span></span>Categorias</h2>
                        </div>
                        <div class="info-image">
                            <i class="fas fa-shipping-fast"></i>
                        </div>

                    </div>
                </div>
                <div class="card details">
                    <div class="details-header">
                        <h2>Todas Teses</h2>
                        <button><a href="/monografias/cadastrarMonografia">Novo Registo</a></button>
                    </div>
                    <table>
                        <tr>
                            <th>Título</th>
                            <th>Categoria</th>
                            <th>Data de Publicação</th>
                            <th>Autor</th>
                            <th>Estado</th>
                            <th>Opções</th>
                        </tr>
                        <tr th:each="monografia : ${listaDeMonografias}">
                            <td th:text="${monografia.titlo}">Aplicação de Gestão Escola</td>
                            <td th:text="${monografia.categoria.nome}">Informática</td>
                            <td th:text="${#dates.format(monografia.dataPublicaca, 'dd MMMM yyyy')}">02 Junho, 2021</td>
                            <td th:text="${monografia.autor}">Modesto Soma</td>
                        <th:block th:if="${monografia.estadoFormato=='Activo'}">
                            <td><span th:text="${monografia.estadoFormato}" class="status active"><i class="fas fa-circle"></i>Activo</span></td>
                        </th:block> 
                        <th:block th:if="${monografia.estadoFormato=='Inactivo'}">
                            <td><span th:text="${monografia.estadoFormato}" class="status inactive"><i class="fas fa-circle"></i>Inactivo</span></td>
                        </th:block>
                        <td>
                            <a th:href="@{/monografias/editarMonografia/}+${monografia.codigo}" style="padding-right: 10px;">
                                <i class="fas"><img src="/img/edit.png" alt="Editar" width="20px" height="20px"></i>
                            </a>
                            <a href="javascript:void(0)" class="delete" th:attr="attr-codigo = ${monografia.codigo}">
                                <i><img src="/img/delet.png" alt="Apagar" width="20px" height="20px"></i>
                            </a>

                        </td>
                        </tr>                       
                    </table>
                </div>
            </div>
        </main>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/vendors.min.js}"></script>
        <script>
            $('.delete').on('click', function () {
                var codigo = $(this).attr('attr-codigo');
                console.log(codigo);
                window.alert("Tem certeza que deseja excluir o registo?");
                function  p() {
                          setTimeout(function () {
                        $.get("monografias/eliminarMonografia/" + alunoCodigo, function (data) {
                        });
                         window.alert("Monografia excluida com sucesso");
                        location.reload(true);

                    }, 1000);
                };
            });
        </script>
    </body>

</html>