<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Qualificado</title>

        <link rel="stylesheet" href="/css/style.css" class="rel">
    </head>

    <body>
        <div class="add">
            <div class="conteiner">
                <div class="main-content">
                    <div class="m-log">
                        <div class="m-siz">
                            <div class="m-siz-a">
                                <div class="t-label">
                                    <div class="label">
                                        <h1><br>QUALIFICADO</h1>
                                    </div>
                                    <div class="logo-name">
                                        <h3>Se esqueceu a sua senha saiba que o processo de recuperação é muito fácil no Qualificado, basta informar o E-mail
                                            associado a sua conta e seguir os passos subsequentes que terás sua conta e seus dados de volta.
                                            <br>Qualificado, "Facilidade no Processo!"</h3>
                                    </div>                                
                                </div>
                                <form th:action="@{/forgotPassword}" method="POST" class="i-dt">
                                    <div class="line">
                                        <p>ESQUECEU SUA SENHA?</p>
                                    </div>
                                    <div class="" style="color: #d43f3a; font-size: 18px;" th:if="${error != null}">
                                        <p th:text="${error}"></p>
                                    </div>
                                    <div class="" style="color: #02630a; font-size: 18px;" th:if="${success != null}">
                                        <p th:text="${success}"></p>
                                    </div>
                                    <section class="inputs">
                                        <div class="mail">
                                            <input type="email" name="email" required="" placeholder="Digite o seu E-mail">
                                        </div>
                                    </section>
                                    <div class="line">
                                    </div>
                                    <input class="in-btn" type="submit" value="Enviar">
                                    <div class="line">
                                        <p></p>
                                    </div>
                                    <a href="/login"  class="cad-btn">Entrar</a>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>