<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Qualificado</title>

        <link rel="stylesheet" href="/css/style.css" class="rel">
    </head>

    <body>
        <div class="add">
            <div class="conteiner">
                <div class="main-content">
                    <div class="m-log">
                        <div class="m-siz">
                            <div class="m-siz-a">
                                <div class="t-label">
                                    <div class="label">
                                        <h1><br>QUALIFICADO</h1>
                                    </div>
                                    <div class="logo-name">
                                        <h3>A sua plataforma que lhe permite encontrar docentes totalmente qualificados para o exercício das suas funções</h3>
                                    </div>

                                </div>
                                <form th:action="@{/resetPassword}" method="POST" class="i-dt">
                                    <div class="" style="color: #02630a; font-size: 18px;" th:if="${success != null}">
                                        <p th:text="${success}"></p>
                                    </div>
                                    <input type="hidden" name="token" th:value="${token}">
                                    <section class="inputs">
                                        <div class="mail">
                                            <input type="password" placeholder="Palavra Passe" name="senha">
                                        </div>
                                        <div class="pass">
                                            <input type="password" name="confirmacaoSenha" placeholder="Confirmar Palavra passe">
                                        </div>
                                    </section>
                                    <div class="line">

                                    </div>
                                    <input class="in-btn" type="submit" value="Alterar Senha">
                                    <div class="line">

                                    </div>
                                    <a href="/Login"  class="cad-btn">Entrar</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>