<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css"/>

    </head>
    <body>

        <div class="container">
            <h2> Lista de Turmas</h2> 
            <div class="container align-content-around">
                <button type="button"  class="btn btn-outline-primary" data-toggle="modal" data-target="#cadastroModal" style="font-size: 18px; text-decoration: none;"><img src="image/plus_48px.png" style="width: 20%; height: 20%;" alt="">Novo Registo</button>
            </div>
            <hr>
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <th scope="col">Nome</th>
                <th scope="col">Curso</th>
                <th scope="col">Estado</th>
                <th scope="col">Acção</th>
                </thead>
                <tbody>
                    <tr scope="row" th:each="turma : ${listaDeTurmas}">
                        <td th:text="${turma.nome}"></td>
                        <td th:text="${turma.curso.nome}"></td>
                        <td th:text="${turma.estadoFormato}"></td>
                        <td>
                            <a class="btn btn-primary editar" th:href="@{/getOneTurma/(codigo=${turma.codigo})}">
                                <i class="fas fa-edit"></i><img src="image/edit_file_48px.png" style="width: 30%; height: 30%;" alt=""></a>
                            <a  class="btn btn-danger" th:href="@{/eliminarTurma/(codigo=${turma.codigo})}" id="deleteButton">
                                <i class="fas fa-times"></i><img src="image/delete_bin_48px.png" style="width: 30%; height: 30%;" alt=""></a>
                            <a  class="btn btn-success" th:href="${(#mvc.url('TC#detalhesTurmas').arg(0, turma.codigo)).build()}">
                                <i class="fas fa-times"></i>Estudantes Matriculados</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <!-- Modal Cadastro -->
        <div class="modal fade" id="cadastroModal" tabindex="-1" role="dialog" aria-labelledby="cadastroModalLabel" aria-hidden="true">
            <form method="POST" th:object="${turma}" autocomplete="off" th:action="@{/cadastrarTurma}">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cadastroModalLabel">Nova Turma</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">                            

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nome">Nome:</label>
                                    <input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Ex: A1" required="true">
                                </div> 
                                 <div class="form-group col-md-6">
                                        <label for="curso">Curso:</label>
                                        <select id="curo" class="form-control" th:field="*{curso}">
                                            <option value="">Selecione o curso</option>
                                            <option th:each="curso : ${cursos}"  th:value="${curso.codigo}" th:text="${curso.nome}"></option>
                                        </select>
                                </div> 
                            </div>

                            <div class="modal-footer">

                                <button type="submit" class="btn btn-outline-success">Salvar</button>
                                <button type="button"  class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>
        <!-- Modal Editar -->
        <div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
            <form method="PUT" autocomplete="off" th:object="${turma}" th:action="@{/editarTurma}">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editarModalLabel">Editar Turma</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input class="form-control" id="codigoEdit"  name="codigo" type="hidden" />
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="nome">Nome:</label>
                                    <input type="text" class="form-control" id="nomeEdit" th:field="*{nome}" placeholder="Ex: A1" required="true">
                                </div> 
                                <div class="form-group col-md-6">
                                        <label for="cursoEdit">Curso:</label>
                                        <select id="cursoEdit" class="form-control" th:field="*{curso}">
                                            <option value="">Selecione o curso</option>
                                            <option th:each="curso : ${cursos}"  th:value="${curso.codigo}" th:text="${curso.nome}"></option>
                                        </select>
                                </div> 
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" th:field="*{estado}" type="checkbox" id="estadoEdit">
                                        <label class="form-check-label" for="estadoEdit">
                                            Estado
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">

                                <button type="submit" class="btn btn-outline-warning">Atualizar</button>
                                <button type="button"  class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>
        <!-- Modal Eliminar -->
        <div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="eliminarModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eliminarModalLabel">Confirmar Eliminação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning" role="alert">                        
                            <h4><img src="image/error_48px.png" style="width: 7%; height: 7%;" alt="">Tem certeza que pretendes eliminar o registo?</h4>

                        </div>                                
                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-outline-danger" data-dismiss="modal"><img src="image/cancel_48px.png" style="width: 20%; height: 20%;" alt="">Não, Cancelar</button>
                        <a href="" id="delRef" class="btn btn-outline-success"><img src="image/ok_48px.png" style="width: 20%; height: 20%;" alt="">Sim, Delectar</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="js/main.js" th:src="@{js/main.js}"></script>
    </body>
</html>
